@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

@media screen and (max-width: 870px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2%;
    }

    .titulo {
        /* POSICIONAMENTO */
        margin-top: 10px;
        margin-bottom: 20px;

        /* DIMENSIONAMENTO */
        font-size: 18px;

        /* APARÊNCIA */
        font-family: "Press Start 2P", cursive;
        color: #000;
    }

    .mercantes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2%;

        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .mercantes .mercante {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-right: 2%;
        margin-bottom: 2%;

        /* DIMENSIONAMENTO */
        height: 200px;
        width: 400px;

        /* APARÊNCIA */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
        border-radius: 5px;

        background-color: var(--cor-principal);
    }

    .mercantes .mercante .logo-loja {
        /* POSICIONAMENTO */
        margin-left: 2%;
        margin-right: 2%;

        /* DIMENSIONAMENTO */
        height: fit-content;
        max-height: 140px;
        max-width: 140px;
        object-fit: scale-down;

        /* APARÊNCIA */
        border-radius: 50%;

        background-color: var(--cor-clara);
    }

    .mercantes .mercante .logo-loja:hover {
        cursor: pointer;
    }

    .mercantes .mercante .informacoes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        /* DIMENSIONAMENTO */
        height: 90%;
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .mercantes .mercante .informacoes .nome-loja {
        /* DIMENSIONAMENTO */
        width: fit-content;
        font-size: 12px;

        /* APARÊNCIA */
        font-family: "Press Start 2P", cursive;
        color: var(--cor-clara);

        background-color: transparent;
    }

    .mercantes .mercante .informacoes .icones-edicao {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 10px;
        margin-top: 30px;

        /* DIMENSIONAMENTO */
        height: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .mercantes .mercante .informacoes .icones-edicao .edicao {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 200px;
        height: 40px;

        /* APARÊNCIA */
        border-radius: 10px;

        color: var(--cor-clara);

        /* ANIMAÇÃO DE TRANSIÇÃO SUAVE */
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;

        /* SOMBREAMENTO */
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);

        background-color: var(--cor-principal-clara);
    }

    .mercantes .mercante .informacoes .icones-edicao .edicao:hover {
        /* APARÊNCIA */
        cursor: pointer;
        color: #000;
        background-color: var(--cor-clara);
    }
}

@media screen and (min-width: 870px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        margin: 2%;
    }

    .titulo {
        /* POSICIONAMENTO */
        margin-top: 10px;
        margin-bottom: 20px;

        /* APARÊNCIA */
        font-size: 18px;
        font-family: "Press Start 2P", cursive;
        color: #000;
    }

    .mercantes {
        /* POSICIONAMENTO */
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        margin-top: 2%;
    }

    .mercantes .mercante {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-right: 2%;
        margin-bottom: 2%;

        /* DIMENSIONAMENTO */
        height: 200px;
        width: 400px;

        /* APARÊNCIA */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
        border-radius: 5px;
        background-color: var(--cor-principal);
    }

    .mercantes .mercante .logo-loja {
        /* POSICIONAMENTO */
        margin-left: 2%;
        margin-right: 2%;

        /* DIMENSIONAMENTO */
        height: fit-content;
        max-height: 140px;
        max-width: 140px;
        object-fit: scale-down;

        /* APARÊNCIA */
        border-radius: 50%;
        background-color: var(--cor-clara);
    }

    .mercantes .mercante .informacoes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        /* DIMENSIONAMENTO */
        height: 90%;
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .mercantes .mercante .informacoes .nome-loja {
        /* DIMENSIONAMENTO */
        width: fit-content;

        /* APARÊNCIA */
        font-size: 12px;
        font-family: "Press Start 2P", cursive;
        color: var(--cor-clara);

        background-color: transparent;
    }

    .mercantes .mercante .informacoes .icones-edicao {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 10px;
        margin-top: 20px;

        /* DIMENSIONAMENTO */
        height: 50%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .mercantes .mercante .informacoes .icones-edicao .edicao {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 200px;
        height: 40px;

        /* APARÊNCIA */
        border-radius: 10px;
        color: var(--cor-clara);
        background-color: var(--cor-principal-clara);

        /* ANIMAÇÃO DE TRANSIÇÃO SUAVE */
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;

        /* SOMBREAMENTO */
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    }

    .mercantes .mercante .informacoes .icones-edicao .edicao:hover {
        /* APARÊNCIA */
        cursor: pointer;
        color: #000;
        background-color: var(--cor-clara);
    }
}
