/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

* {
    box-sizing: border-box;
}

input[type="text"],
input[type="number"],
select,
textarea {
    /* DIMENSIONAMENTO */
    width: 80%;
    padding: 12px;

    /* APARÊNCIA */
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    /* POSICIONAMENTO */
    display: inline-block;

    /* DIMENSIONAMENTO */
    padding: 12px 12px 12px 0;
}

input[type="submit"] {
    /* DIMENSIONAMENTO */
    padding: 12px 20px;

    /* APARÊNCIA */
    cursor: pointer;
    color: var(--cor-clara);
    border: none;
    border-radius: 4px;
    background-color: var(--cor-principal);
}

input[type="submit"]:hover {
    /* APARÊNCIA */
    background-color: var(--cor-principal-clara);
}

.container {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONAMENTO */
    padding: 20px;

    /* APARÊNCIA */
    border-radius: 5px;
    background-color: transparent;
}

.titulo {
    /* POSICIONAMENTO */
    margin-bottom: 10px;

    /* APARÊNCIA */
    font-size: 18px;
    font-family: "Press Start 2P", cursive;
    background-color: transparent;
}

#novoMercante {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;

    /* DIMENSIONAMENTO */
    width: 100%;
}

.col-25 {
    /* POSICIONAMENTO */
    float: left;
    margin-top: 6px;

    /* DIMENSIONAMENTO */
    width: 15%;
}

.col-75 {
    /* POSICIONAMENTO */
    float: left;
    margin-top: 6px;

    /* DIMENSIONAMENTO */
    width: 70%;
}

.row {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        /* POSICIONAMENTO */
        margin-top: 0;

        /* DIMENSIONAMENTO */
        width: 100%;
    }
}
