/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

* {
    /* POSICIONAMENTO */
    margin: 0;

    /* APARÊNCIA */
    font-family: "Roboto", sans-serif;
    background-color: var(--cor-fundo);
}

@media screen and (max-width: 820px) {
    /* BARRA NAVEGAÇÃO MENOR */
    .barra-navegacao {
        /* DIMENSIONAMENTO */
        width: 100%;
        height: 18vh;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-esquerdo {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 20%;
        height: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-esquerdo .menu {
        /* DIMENSIONAMENTO */
        height: 34px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-esquerdo .menu:hover {
        cursor: pointer;
    }

    /* MENU FLUTUANTE */
    /* Navbar container */
    .navbar {
        overflow: hidden;
    }

    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* The dropdown container */
    .dropdown {
        float: left;
        overflow: hidden;

        background-color: transparent;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
        border: none;
        outline: none;

        background-color: transparent;
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: transparent;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        background-color: var(--cor-fundo);
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        color: var(--cor-clara);
        background-color: var(--cor-principal-clara);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* MENU FLUTUANTE */

    .barra-navegacao .grupo-meio {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 60%;
        height: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* LOGO DO PROJETO */
    .barra-navegacao .grupo-meio .logo-link {
        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-meio .logo {
        /* DIMENSIONAMENTO */
        height: 50px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-direito {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 20%;
        height: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-direito .pesquisa-link {
        background-color: transparent;
    }

    .barra-navegacao .grupo-direito .pesquisa-link .pesquisa-icone {
        /* DIMENSIONAMENTO */
        height: 34px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-direito .pesquisa-link .pesquisa-icone:hover {
        cursor: pointer;
    }
    /* BARRA NAVEGAÇÃO MENOR */
}

@media screen and (min-width: 820px) {
    /* BARRA DE NAVEGAÇÃO */
    .barra-navegacao {
        /* DIMENSIONAMENTO */
        width: 100%;
        height: 20vh;
    }

    /* GRUPO SUPERIOR DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-superior {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        padding-top: 10px;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 50%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-superior .grupo-superior-esquerdo {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 20%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* LOGO DO PROJETO */
    .barra-navegacao .grupo-superior .grupo-superior-esquerdo .logo-link {
        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-superior .grupo-superior-esquerdo .logo {
        /* DIMENSIONAMENTO */
        height: 40px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO SUPERIOR DO MEIO DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-superior .grupo-superior-meio {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 70%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* BARRA DE PESQUISA */
    .barra-navegacao .grupo-superior .grupo-superior-meio .barra-pesquisa {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        /* DIMENSIONAMENTO */
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* CAIXA DE ENTRADA DE TEXTO PARA PESQUISA */
    .grupo-superior .grupo-superior-meio .barra-pesquisa #barra-pesquisa-input {
        /* TAMANHO E ALTURA */
        width: 100%;
        height: 36px;

        /* BORDA E ESPAÇAMENTO INTERNO */
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;

        /* APARÊNCIA DE LETRAS */
        font-size: 16px;
        color: rgb(0, 0, 0);
    }

    /* PERSONALIZAÇÃO DA SELEÇÃO DE ENTRADA DE TEXTO DA BARRA DE PESQUISA */
    .barra-navegacao
        .grupo-superior
        .grupo-superior-meio
        .barra-pesquisa
        #barra-pesquisa-input:focus {
        /* ESTILO DE BORDA SELECIONADA */
        outline: 0;
    }

    /* LINK DO ÍCONE DE PROCURAR DA BARRA DE PESQUISA */
    .barra-navegacao
        .grupo-superior
        .grupo-superior-meio
        .barra-pesquisa
        .barra-pesquisa-link {
        /* POSICIONAMENTO */
        float: right;
        margin-top: 5px;
        margin-left: -34px;

        /* APARÊNCIA */
        height: 24px;
        background-color: transparent;
    }

    /* ÍCONE DE PROCURAR DA BARRA DE PESQUISA */
    .barra-navegacao
        .grupo-superior
        .grupo-superior-meio
        .barra-pesquisa
        .barra-pesquisa-link
        #barra-pesquisa-icone {
        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO SUPERIOR DIREITO DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-superior .grupo-superior-direito {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 20%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO DE ÍCONES SUPERIORES (CARRINHO, FAVORITOS E USUÁRIO) */
    .barra-navegacao .grupo-superior .grupo-superior-direito .grupo-icones {
        /* POSICIONAMENTO */
        display: flex;
        justify-content: space-between;

        /* DIMENSIONAMENTO */
        width: 70%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* TAG DE LINK PARA OS ÍCONES SUPERIORES */
    .barra-navegacao .grupo-superior .grupo-superior-direito .icone-link {
        /* APARÊNCIA */
        background-color: transparent;
    }

    /* ÍCONE SUPERIOR */
    .barra-navegacao .grupo-superior .grupo-superior-direito .icone {
        /* DIMENSIONAMENTO */
        height: 24px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO INFERIOR DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-inferior {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 50%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-inferior .grupo-inferior-esquerdo {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 25%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO DE MENU DE CATEGORIAS */
    .barra-navegacao .grupo-inferior .grupo-inferior-esquerdo .categorias {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        /* DIMENSINAMENTO */
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* ÍCONE DE CATEGORIAS */
    /* SIMULAÇÃO DE BOTÃO PARA GRUPO DE CATEGORIAS */
    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-esquerdo
        .categorias:hover {
        cursor: pointer;
    }

    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-esquerdo
        .categorias
        #categorias-icone {
        /* POSICIONAMENTO */
        display: flex;
        margin-right: 5px;

        /* DIMENSIONAMENTO */
        height: 24px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* TEXTO PARA CATEGORIAS */
    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-esquerdo
        .categorias
        #categorias-titulo {
        /* APARÊNCIA */
        background-color: transparent;
        font-size: 16px;
        color: var(--cor-clara);
    }

    /* MENU FLUTUANTE */
    /* Navbar container */
    .navbar {
        overflow: hidden;
    }

    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* The dropdown container */
    .dropdown {
        float: left;
        overflow: hidden;

        background-color: transparent;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
        border: none;
        outline: none;

        background-color: transparent;
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: transparent;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        background-color: var(--cor-fundo);
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        color: var(--cor-clara);
        background-color: var(--cor-principal-clara);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* MENU FLUTUANTE */

    /* GRUPO INFERIOR DO MEIO DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-inferior .grupo-inferior-direito {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO DE TEMAS MAIS PESQUISADOS */
    .barra-navegacao .grupo-inferior .grupo-inferior-direito .temas {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 85%;

        /* APARÊNCIA */
        background-color: transparent;
        font-size: 14px;
        font-weight: normal;
        color: var(--cor-fundo);

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

    .barra-navegacao .grupo-inferior .grupo-inferior-direito .temas .tema {
        /* APARÊNCIA */
        background-color: transparent;

        /* ANIMAÇÃO DE TRANSIÇÃO SUAVE */
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }

    /* SIMULAÇÃO DE BOTÃO PARA TEMA */
    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-direito
        .temas
        .tema:hover {
        cursor: pointer;

        color: var(--cor-principal-clara);
    }
}

.esconder {
    display: none;
}

.mostrar-row {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 100%;
}

.mostrar-column {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
}

.esconder, .mostrar-row, .mostrar-column {
    background-color: transparent;
}

/* BARRA DE NAVEGAÇÃO */
.barra-navegacao {
    /* APARÊNCIA */
    background-color: var(--cor-principal);
}
