@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

* {
    /* POSICIONAMENTO */
    margin: 0;
    padding: 0;
    
    /* DIMENSIONAMENTO */
    box-sizing: border-box;
    
    /* APARÊNCIA */
    background-color: var(--cor-fundo);
    font-family: "Roboto", sans-serif;
}

.imagem:hover {
    cursor: pointer;
}
