@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

.container {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    margin-left: 2%;
    margin-right: 2%;

    height: 120%;
    width: 90vw;
}

.titulo {
    /* POSICIONAMENTO */
    margin-bottom: 20px;

    /* DIMENSIONAMENTO */
    font-size: 18px;

    /* APARÊNCIA */
    font-family: "Press Start 2P", cursive;
    background-color: transparent;
}

.produtos {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* DIMENSIONAMENTO */
    width: 100%;
}

.produtos .cartao {
    /* POSICIONAMENTO */
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.cartao .imagem-favorito .favorito {
    /* POSICIONAMENTO */
    position: absolute;
    margin-top: 10px;
    margin-left: 90px;
}

.cartao .imagem-favorito .editar {
    /* POSICIONAMENTO */
    position: absolute;
    margin-top: 40px;
    margin-left: 90px;

    /* DIMENSIONAMENTO */
    height: 24px;

    /* APARÊNCIA */
    background-color: transparent;
}

.cartao .imagem-favorito .editar:hover {
    cursor: pointer;
}

.cartao .imagem-favorito .remover {
    /* POSICIONAMENTO */
    position: absolute;
    margin-left: 90px;
    margin-top: 70px;

    /* DIMENSIONAMENTO */
    height: 30px;

    /* APARÊNCIA */
    border: none;
    background-color: transparent;
}

.cartao .imagem-favorito .remover:hover {
    cursor: pointer;
}
