@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

.container {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2%;

    /* DIMENSIONAMENTO */
    width: 100%;

    /* APARÊNCIA */
    border-radius: 5px;
    background-color: transparent;
}

.titulo {
    /* POSICIONAMENTO */
    margin-top: 2%;
    margin-left: 1%;

    /* APARÊNCIA */
    font-size: 16px;
    font-family: "Press Start 2P", cursive;
    background-color: transparent;
}

.conteudo {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONAMENTO */
    width: 80%;
}

.titulo {
    /* POSICIONAMENTO */
    margin-bottom: 2%;

    /* APARÊNCIA */
    font-size: 18px;
    font-family: "Press Start 2P", cursive;
    background-color: transparent;
}

.formularios {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;

    margin-bottom: 5%;

    /* DIMENSIONAMENTO */
    width: 80%;
}

.row {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
select,
textarea {
    /* DIMENSIONAMENTO */
    width: 100%;

    /* APARÊNCIA */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    /* POSICIONAMENTO */
    display: inline-block;

    /* APARÊNCIA */
    padding: 12px 12px 12px 0;
}

.botao {
    /* APARÊNCIA */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"] {
    /* APARÊNCIA */
    background-color: var(--cor-principal);
    color: var(--cor-clara);
}

input[type="submit"]:hover {
    /* APARÊNCIA */
    background-color: var(--cor-principal-clara);
}

.col-25 {
    /* POSICIONAMENTO */
    margin-top: 6px;

    /* DIMENSIONAMENTO */
    width: 25%;
}

.col-75 {
    /* POSICIONAMENTO */
    margin-top: 6px;

    /* DIMENSIONAMENTO */
    width: 100%;
}

.container-imagens {
    /* POSICIONAMENTO */
    display: flex;
    flex: row;
    flex-wrap: wrap;

    margin-bottom: 2%;

    /* DIMENSIONAMENTO */
    width: 80%;
}

.container-imagens .imagem-grupo {
    /* POSICIONAMENTO */
    margin-right: 3%;
}

.container-imagens .imagem-grupo .icone {
    /* POSICIONAMENTO */
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;

    /* DIMENSIONAMENTO */
    height: 20px;

    /* APARÊNCIA */
    background-color: transparent;
}

.container-imagens .imagem-grupo .remover-link {
    /* POSICIONAMENTO */
    position: absolute;
    margin-top: 30px;
}

.container-imagens .imagem {
    /* DIMENSIONAMENTO */
    height: 240px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"],
    .botao {
        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .botao {
        /* POSICIONAMENTO */
        margin-top: 2%;
    }
}
