@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

@media screen and (max-width: 900px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2%;
        margin-bottom: 10%;

        /* DIMENSIONAMENTO */
        width: 96%;

        /* APARÊNCIA */
        background-color: var(--cor-fundo);
    }

    .dadosProduto {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 20px;

        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .dadosProduto .imagens {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: fit-content;
        height: fit-content;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .dadosProduto .imagens .imagem-full {
        /* POSICIONAMENTO */
        margin-bottom: 5%;

        height: 500px;
        object-fit: scale-down;
    }

    .dadosProduto .imagens .miniaturas {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        /* DIMENSIONAMENTO */
        width: fit-content;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .dadosProduto .imagens .miniaturas img {
        margin-right: 10px;

        /* DIMENSIONAMENTO */
        height: 100px;

        object-fit: scale-down;
    }

    .dadosProduto .informacoes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-top: 30px;

        /* DIMENSIONAMENTO */
        padding: 2.5%;
        width: 90%;
        height: fit-content;

        /* APARÊNCIA */
        border-radius: 5px;
        background-color: var(--cor-principal-clara);
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: fit-content;
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor .titulo-favoritos {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .dadosProduto
        .informacoes
        .titulo-favorito-vendedor
        .titulo-favoritos
        .titulo-produto {
        /* POSICIONAMENTO */
        margin-left: 20px;

        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .dadosProduto
        .informacoes
        .titulo-favorito-vendedor
        .titulo-favoritos
        .favoritar {
        /* DIMENSIONAMENTO */
        height: 36px;
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor .vendedor {
        margin-top: 20px;
    }

    .dadosProduto .informacoes .preco {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        margin-top: 20px;
    }

    .dadosProduto .informacoes .preco .atual {
        /* POSICIONAMENTO */
        margin-top: 1%;
    }

    .dadosProduto .informacoes .botoes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 20px;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 50px;
    }

    .dadosProduto .informacoes .botoes .comprar {
        /* DIMENSIONAMENTO */
        width: 70%;
    }

    .dadosProduto .informacoes .botoes .carrinho {
        /* POSICIONAMENTO */
        display: flex;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 25%;
    }

    .dadosProduto .informacoes .botoes .carrinho img {
        /* DIMENSIONAMENTO */
        height: 30px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;

        /* APARÊNCIA */
        background-color: var(--cor-fundo);
    }

    .caminho {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-left: 1.5%;
        margin-bottom: 10px;

        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

    .dadosProduto {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .dadosProduto .imagens {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        margin-left: 20px;

        width: 30%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .dadosProduto .imagens .imagem-full {
        /* DIMENSIONAMENTO */
        height: 400px;
        object-fit: scale-down;

        padding: 2%;

        border-radius: 5px;

        background-color: #fff;
    }

    .dadosProduto .imagens .miniaturas {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        margin-top: 20px;
        padding: 2%;

        /* DIMENSIONAMENTO */
        width: 30%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .dadosProduto .imagens .miniaturas img {
        /* DIMENSIONAMENTO */
        width: 80px;
        object-fit: scale-down;

        margin-right: 10px;

        background-color: #fff;
    }

    .dadosProduto .informacoes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 5%;
        margin-right: 2%;

        /* DIMENSIONAMENTO */
        padding: 2%;
        width: 60%;
        height: fit-content;

        /* APARÊNCIA */
        border-radius: 5px;
        background-color: var(--cor-principal-clara);
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 100px;
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor .titulo-favoritos {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 10px;

        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .dadosProduto
        .informacoes
        .titulo-favorito-vendedor
        .titulo-favoritos
        .favoritar {
        margin-right: 10px;

        /* DIMENSIONAMENTO */
        height: 32px;
    }

    .dadosProduto
        .informacoes
        .titulo-favorito-vendedor
        .titulo-favoritos
        .titulo-produto {
        width: 90%;
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor .vendedor {
        display: flex;
        flex-direction: column;
    }

    .dadosProduto .informacoes .titulo-favorito-vendedor .vendedor .label {
        margin-top: 5px;
    }

    .dadosProduto .informacoes .preco {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        margin-bottom: 10px;
    }

    .dadosProduto .informacoes .descricao {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .dadosProduto .informacoes .descricao .texto {
        /* DIMENSIONAMENTO */
        width: 80%;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .dadosProduto .informacoes .botoes {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 50px;
    }

    .dadosProduto .informacoes .botoes .comprar {
        /* DIMENSIONAMENTO */
        width: 70%;
    }

    .dadosProduto .informacoes .botoes .carrinho {
        /* POSICIONAMENTO */
        display: flex;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 25%;
    }

    .dadosProduto .informacoes .botoes .carrinho img {
        /* DIMENSIONAMENTO */
        height: 30px;
    }
}

.dadosProduto .informacoes .titulo-favorito-vendedor .titulo-favoritos {
    /* APARÊNCIA */
    background-color: transparent;
}

.dadosProduto
    .informacoes
    .titulo-favorito-vendedor
    .titulo-favoritos
    .favoritar {
    /* APARÊNCIA */
    background-color: transparent;
}

.dadosProduto
    .informacoes
    .titulo-favorito-vendedor
    .titulo-favoritos
    .favoritar:hover {
    cursor: pointer;
}

.dadosProduto
    .informacoes
    .titulo-favorito-vendedor
    .titulo-favoritos
    .titulo-produto {
    /* APARÊNCIA */
    font-size: 24px;
    font-weight: normal;
    color: var(--cor-clara);
    background-color: transparent;
}

.dadosProduto .informacoes .titulo-favorito-vendedor {
    background-color: transparent;
}

.dadosProduto .informacoes .titulo-favorito-vendedor .vendedor {
    background-color: transparent;
}

.dadosProduto .informacoes .titulo-favorito-vendedor .vendedor .label {
    font-size: 24px;
    color: var(--cor-clara);

    background-color: transparent;
}

.dadosProduto .informacoes .titulo-favorito-vendedor .vendedor .nome-vendedor {
    font-size: 20px;
    font-weight: normal;
    color: var(--cor-clara);
    background-color: transparent;

    text-decoration: none;

    transition: 0.5s;
}

.dadosProduto
    .informacoes
    .titulo-favorito-vendedor
    .vendedor
    .nome-vendedor:hover {
    color: var(--cor-principal);
}

.dadosProduto .informacoes .preco {
    background-color: transparent;
}

.dadosProduto .informacoes .preco .atual {
    /* APARÊNCIA */
    font-size: 36px;
    color: var(--cor-clara);
    font-weight: 500;
    background-color: transparent;
}

.dadosProduto .informacoes .descricao {
    /* APARÊNCIA */
    background-color: transparent;
}

.dadosProduto .informacoes .descricao .descricao-titulo {
    font-size: 20px;
    color: var(--cor-clara);
    font-weight: bold;

    background-color: transparent;
}

.dadosProduto .informacoes .descricao .texto {
    /* APARÊNCIA */
    color: var(--cor-clara);
    text-align: justify;
    background-color: transparent;
}

.dadosProduto .informacoes .descricao .texto .leia-mais {
    /* DIMENSIONAMENTO */
    font-weight: bold;
    color: var(--cor-principal);
    text-decoration: none;

    transition: 0.5s;

    background-color: transparent;
}

.dadosProduto .informacoes .descricao .texto .leia-mais:hover {
    color: blue;
}

.dadosProduto .informacoes .botoes {
    /* APARÊNCIA */
    background-color: transparent;
}

.dadosProduto .informacoes .botoes button {
    /* APARÊNCIA */
    border: none;
    border-radius: 5px;

    /* ANIMAÇÃO DE TRANSIÇÃO SUAVE*/
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.dadosProduto .informacoes .botoes button:hover {
    cursor: pointer;
}

.dadosProduto .informacoes .botoes .comprar {
    /* APARÊNCIA */
    color: var(--cor-clara);
    font-size: 20px;

    border: 2px solid #000;
    background-color: var(--cor-principal-clara);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.dadosProduto .informacoes .botoes .comprar:hover {
    /* APARÊNCIA */
    background-color: var(--cor-principal);
    color: var(--cor-clara);
}

.dadosProduto .informacoes .botoes .carrinho {
    /* APARÊNCIA */
    background-color: var(--cor-principal-clara);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 10px;
}

.dadosProduto .informacoes .botoes .carrinho:hover {
    /* APARÊNCIA */
    background-color: var(--cor-principal);
}

.dadosProduto .informacoes .botoes .carrinho img {
    /* APARÊNCIA */
    background-color: transparent;
}
