/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

.container {
    display: flex;
    flex-direction: row;

    min-height: 100vh;
}

.esconder {
    display: none;
}

.mostrar {
    display: flex;
    flex-direction: column;
}

.conteudo {
    min-height: 100%;
    width: 80vw;
}

.conteudo .titulo-secao-principal {
    font-size: 30px;

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    background-color: transparent;
}

.conteudo .navegacao {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
    margin-left: 3%;

    background-color: transparent;
}

.conteudo .navegacao .item {
    margin-right: 20px;
}

.conteudo .linha {
    align-self: center;

    width: 95%;

    border: 1px solid rgba(0, 0, 0, 0.4);
}

.conteudo .navegacao .item {
    background-color: transparent;
}

.conteudo .titulo-secao {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;

    height: 50px;

    font-size: 30px;
    font-weight: 500;
}

.conteudo .titulo-adicionar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.conteudo .titulo-adicionar .adicionar {
    margin-right: 1%;

    width: 140px;
    height: 40px;

    font-size: 16px;
    color: var(--cor-clara);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    background-color: var(--cor-principal-clara);
}

.conteudo .informacoes {
    height: 100%;
    width: 100%;

    background-color: transparent;
}

.conteudo .informacoes .formulario {
    display: flex;
    flex-direction: column;

    padding-left: 5%;
    padding-right: 5%;

    width: 80%;
    height: fit-content;

    background-color: transparent;
}

.conteudo .informacoes .formulario .grupos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 20px;

    height: 100%;
    width: 100%;
}

.conteudo .informacoes .formulario .grupos .grupo-esquerda,
.grupo-direita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

.conteudo .informacoes .formulario .entrada-dados {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    width: 100%;
}

.conteudo .informacoes .formulario .entrada-dados textarea {
    height: 100px;
}

.conteudo .informacoes .formulario label {
    margin-bottom: 10px;
    width: 95%;

    font-size: 16px;
    text-align: left;
}

.conteudo .informacoes .formulario input,
textarea {
    padding-left: 10px;

    height: 40px;
    width: 95%;

    outline: none;

    font-size: 14px;
    color: var(--cor-clara);

    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: var(--cor-principal-clara);
}

.conteudo .informacoes .formulario textarea {
    padding-top: 10px;
}

.conteudo .informacoes .formulario textarea::placeholder,
input::placeholder {
    color: var(--cor-clara);
}

.conteudo .informacoes .formulario select {
    /* DIMENSIONAMENTO */
    width: 95%;
    padding: 12px;

    /* APARÊNCIA */
    font-size: 14px;
    color: #000;

    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo .informacoes .formulario .secao-formulario {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: normal;
}

.conteudo .informacoes .formulario .grupo-lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    background-color: transparent;
}

.conteudo .informacoes .formulario .grupo-lateral .entrada-dados {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;

    background-color: transparent;
}

.conteudo .informacoes .formulario .grupo-lateral .entrada-dados input {
    padding-right: 10px;

    width: 95%;
}

.conteudo .informacoes .formulario button {
    align-self: flex-end;

    min-height: fit-content;
    min-width: fit-content;

    margin-right: 2%;

    padding: 10px;

    font-size: 16px;
    color: var(--cor-clara);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    background-color: var(--cor-principal-clara);
}

.enderecos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 20px;
}

.enderecos .endereco {
    margin-top: 20px;
    margin-left: 20px;

    padding: 10px;

    height: 200px;
    width: 300px;

    border-radius: 5px;

    color: var(--cor-clara);

    background-color: var(--cor-principal-clara);
}

.enderecos .endereco .titulo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 10px;

    width: 100%;

    font-size: 16px;
    font-weight: normal;
}

.enderecos .endereco .titulo-principal .principal-link img {
    height: 24px;
}

.enderecos .endereco .titulo-principal .principal-link img:hover {
    cursor: pointer;
}

.enderecos .endereco .titulo-principal .titulo-tipo {
    display: flex;
    flex-direction: column;
}

.enderecos .endereco .dados-endereco {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 60%;
}

.enderecos .endereco .editar-link {
    position: relative;

    left: 220px;
}

.enderecos .endereco .remover-link {
    position: relative;

    left: 230px;
}

.enderecos .endereco h3,
a,
div,
p,
img {
    background-color: transparent;
}

#pedidos .container-pedidos {
    margin-left: 2%;

    width: 100%;
}

#pedidos .pedidos {
    width: 100%;

    background-color: transparent;
}

#pedidos th,
td {
    text-align: center;
    padding: 8px;
}

#historico .compras {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-left: 3%;

    width: 100%;
}

#historico .compras .compra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin-right: 20px;
    margin-bottom: 20px;

    width: 500px;
    height: 120px;

    color: var(--cor-clara);

    background-color: var(--cor-principal-clara);
}

#historico .compras .compra .fundo-imagem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    background-color: var(--cor-clara);
}

#historico .compras .compra img {
    height: 30px;
}
