:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: rgb(119, 37, 131);
    --cor-principal-clara: #ad7cb5;
}

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
}

.mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.esconder {
    display: none;
}

.container .titulo {
    height: 30px;
}

.resultado-compra {
    height: 70vh;
}

.resultado-compra #nomeLoja {
    font-weight: bold;
    color: var(--cor-principal);
}

.resultado-compra .buyge {
    font-weight: bold;
    color: var(--cor-principal);
}

.resultado-compra img {
    height: 70px;
}

.resultado-compra .titulo {
    font-size: 34px;
    font-weight: normal;
}

.resultado-compra .texto {
    max-width: 80%;

    margin-top: 20px;

    font-size: 20px;
    text-align: justify;
}

.resultado-compra .grupo-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 10px;

    width: 500px;
}

.resultado-compra .grupo-botoes button {
    margin-top: 20px;

    height: 60px;
    width: 200px;

    font-size: 18px;
    color: var(--cor-principal);

    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-principal);
    border-radius: 5px;
}

.resultado-compra .grupo-botoes button:hover {
    cursor: pointer;

    color: var(--cor-clara);

    background-color: var(--cor-principal);
    border-color: var(--cor-principal-clara);

    transition: 0.5s;
}

#approved {
    align-items: center;
    justify-content: center;
}

#pending {
    align-items: center;
    justify-content: center;
}

#rejected {
    align-items: center;
    justify-content: center;
}

#authorized {
    align-items: center;
    justify-content: center;
}

#in_process {
    align-items: center;
    justify-content: center;
}

#in_mediation {
    align-items: center;
    justify-content: center;
}

#cancelled {
    align-items: center;
    justify-content: center;
}

#refunded {
    align-items: center;
    justify-content: center;
}

#charged_back {
    align-items: center;
    justify-content: center;
}
