/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #eaeaea;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(109, 32, 11, 0.1);
    --cor-principal-rgb40: rgba(109, 32, 11, 0.4);
    --cor-principal-rgb60: rgba(109, 32, 11, 0.6);
    --cor-principal: #6d2077;
    --cor-principal-escura: #a779ab;
}

* {
    background-color: var(--cor-fundo);
    font-family: "Roboto", sans-serif;
    margin: 0;
}

@media screen and (max-width: 820px) {
    /* BARRA NAVEGAÇÃO MENOR */
    .barra-navegacao {
        display: flex;
        flex-direction: row;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 18vh;

        background-color: transparent;
    }

    .barra-navegacao .grupo-esquerdo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 15%;
        height: 100%;

        background-color: transparent;
    }

    .barra-navegacao .grupo-esquerdo .menu {
        height: 34px;

        background-color: transparent;
    }

    .barra-navegacao .grupo-esquerdo .menu:hover {
        cursor: pointer;
    }

    .barra-navegacao .grupo-meio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 70%;
        height: 100%;

        background-color: transparent;
    }

    /* LOGO DO PROJETO */
    .barra-navegacao .grupo-meio .logo-link {
        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-meio .logo {
        height: 36px;

        background-color: transparent;
    }

    .barra-navegacao .grupo-direito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 15%;
        height: 100%;

        background-color: transparent;
    }

    .barra-navegacao .grupo-direito .pesquisa-icone {
        height: 34px;

        background-color: transparent;
    }

    .barra-navegacao .grupo-direito .pesquisa-icone:hover {
        cursor: pointer;
    }
    /* BARRA NAVEGAÇÃO MENOR */
}

@media screen and (min-width: 820px) {
    /* BARRA DE NAVEGAÇÃO */
    .barra-navegacao {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 20vh;
    }

    /* GRUPO SUPERIOR DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-superior {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        padding-top: 10px;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 50%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-superior .grupo-superior-esquerdo {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 20%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* LOGO DO PROJETO */
    .barra-navegacao .grupo-superior .grupo-superior-esquerdo .logo-link {
        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-superior .grupo-superior-esquerdo .logo {
        /* DIMENSIONAMENTO */
        height: 32px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO SUPERIOR DO MEIO DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-superior .grupo-superior-meio {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 70%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* BARRA DE PESQUISA */
    .barra-navegacao .grupo-superior .grupo-superior-meio .barra-pesquisa {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        /* DIMENSIONAMENTO */
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* CAIXA DE ENTRADA DE TEXTO PARA PESQUISA */
    .grupo-superior .grupo-superior-meio .barra-pesquisa #barra-pesquisa-input {
        /* TAMANHO E ALTURA */
        width: 100%;
        height: 36px;

        /* BORDA E ESPAÇAMENTO INTERNO */
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;

        /* APARÊNCIA DE LETRAS */
        font-size: 16px;
        color: rgb(0, 0, 0);
    }

    /* PERSONALIZAÇÃO DA SELEÇÃO DE ENTRADA DE TEXTO DA BARRA DE PESQUISA */
    .barra-navegacao
        .grupo-superior
        .grupo-superior-meio
        .barra-pesquisa
        #barra-pesquisa-input:focus {
        /* ESTILO DE BORDA SELECIONADA */
        outline: 0;
    }

    /* ÍCONE DE PROCURAR DA BARRA DE PESQUISA */
    .barra-navegacao
        .grupo-superior
        .grupo-superior-meio
        .barra-pesquisa
        #barra-pesquisa-icone {
        /* POSICIONAMENTO */
        display: flex;
        margin-left: -32px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* SIMULAÇÃO DE BOTÃO PARA O ÍCONE DE PESQUISA */
    .barra-navegacao
        .grupo-superior
        .grupo-superior-meio
        .barra-pesquisa
        #barra-pesquisa-icone:hover {
        cursor: pointer;
    }

    /* GRUPO SUPERIOR DIREITO DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-superior .grupo-superior-direito {
        /* POSICIONAMENTO */
        display: flex;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 20%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO DE ÍCONES SUPERIORES (CARRINHO, FAVORITOS E USUÁRIO) */
    .barra-navegacao .grupo-superior .grupo-superior-direito .grupo-icones {
        /* POSICIONAMENTO */
        display: flex;
        justify-content: space-between;

        /* DIMENSIONAMENTO */
        width: 50%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* TAG DE LINK PARA OS ÍCONES SUPERIORES */
    .barra-navegacao .grupo-superior .grupo-superior-direito .icone-link {
        /* APARÊNCIA */
        background-color: transparent;
    }

    /* ÍCONE SUPERIOR */
    .barra-navegacao .grupo-superior .grupo-superior-direito .icone {
        /* DIMENSIONAMENTO */
        height: 24px;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO INFERIOR DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-inferior {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        /* DIMENSIONAMENTO */
        width: 100%;
        height: 50%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    .barra-navegacao .grupo-inferior .grupo-inferior-esquerdo {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 15%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO DE MENU DE CATEGORIAS */
    .barra-navegacao .grupo-inferior .grupo-inferior-esquerdo .categorias {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        /* DIMENSINAMENTO */
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* ÍCONE DE CATEGORIAS */
    /* SIMULAÇÃO DE BOTÃO PARA GRUPO DE CATEGORIAS */
    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-esquerdo
        .categorias:hover {
        cursor: pointer;
    }

    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-esquerdo
        .categorias
        #categorias-icone {
        /* POSICIONAMENTO */
        display: flex;
        margin-right: 2%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* TEXTO PARA CATEGORIAS */
    .barra-navegacao
        .grupo-inferior
        .grupo-inferior-esquerdo
        .categorias
        #categorias-titulo {
        /* APARÊNCIA */
        background-color: transparent;
        font-size: 16px;
        color: var(--cor-clara);
    }

    /* GRUPO INFERIOR DO MEIO DA BARRA DE NAVEGAÇÃO */
    .barra-navegacao .grupo-inferior .grupo-inferior-meio {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin-left: 10%;

        /* DIMENSIONAMENTO */
        width: 60%;

        /* APARÊNCIA */
        background-color: transparent;
    }

    /* GRUPO DE TEMAS MAIS PESQUISADOS */
    .barra-navegacao .grupo-inferior .grupo-inferior-meio .temas {
        /* POSICIONAMENTO */
        display: flex;
        justify-content: space-between;
        width: 100%;

        /* APARÊNCIA */
        background-color: transparent;
        font-size: 18px;
        color: var(--cor-fundo);

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .barra-navegacao .grupo-inferior .grupo-inferior-meio .temas .tema {
        /* APARÊNCIA */
        background-color: transparent;
    }

    /* SIMULAÇÃO DE BOTÃO PARA TEMA */
    .barra-navegacao .grupo-inferior .grupo-inferior-meio .temas .tema:hover {
        cursor: pointer;
    }
}

/* BARRA DE NAVEGAÇÃO */
.barra-navegacao {
    /* APARÊNCIA */
    background-color: var(--cor-principal);
}
