/* external css: flickity.css */
.carrosel {
  background: #EEE;
}

.carrosel img {
  display: block;
  height: 150px;

  object-fit: scale-down;
}

@media screen and ( min-width: 768px ) {
  .carrosel img {
    height: 400px;
  }
}