/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

.esconder {
    display: none;
}

.mostrar {
    display: flex;
    flex-direction: column;
}

.mostrar-linha {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;

    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    width: 95%;
    min-height: 80vh;
}

.informacoes {
    width: 100%;
    height: 100%;

    margin-bottom: 20%;
}

.informacoes .titulo {
    font-size: 38px;
    font-weight: normal;
}

.informacoes .grupos {
    display: flex;
    flex-direction: row;
}

.informacoes .grupo-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;

    width: 80%;
    height: 100%;
}

.informacoes .grupo-esquerda .produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
}

.informacoes .grupo-esquerda .produtos .titulos-produto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 40px;
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.informacoes .grupo-esquerda .produtos .titulos-produto .nome-imagem {
    width: 30%;
}

.informacoes .grupo-esquerda .produtos .titulos-produto .quantidade,
.valor-unitario,
.subtotal {
    width: 20%;
}

.informacoes .grupo-esquerda .produtos .produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 5px;

    height: 120px;
    width: 100%;
}

.informacoes .grupo-esquerda .produtos .produto .nome-produto {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 16px;
    text-align: justify;

    width: 30%;
}

.informacoes .grupo-esquerda .produtos .produto .nome-produto .imagem {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 30%;
    min-height: 100px;

    background-color: var(--cor-clara);
}

.informacoes .grupo-esquerda .produtos .produto .nome-produto p {
    margin-left: 12px;

    width: 100%;

    text-align: justify;
}

.informacoes .grupo-esquerda .produtos .produto .nome-produto .imagem img {
    height: 60px;
    object-fit: scale-down;

    background-color: transparent;
}

.informacoes .grupo-esquerda .produtos .produto .quantidade-produto,
.valor-unitario-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 32px;
}

.informacoes .grupo-esquerda .produtos .produto .subtotal-produto,
.remover-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 32px;
}

.informacoes .grupo-esquerda .produtos .produto .quantidade-produto {
    display: flex;
    flex-direction: row;

    width: 30%;
    height: 100%;
}

.informacoes .grupo-esquerda .produtos .produto .quantidade-produto .adicionar,
.remover {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 60px;

    color: var(--cor-clara);

    transition: 0.5s;

    background-color: var(--cor-principal-clara);
    border: solid 1px #000;
}

.informacoes
    .grupo-esquerda
    .produtos
    .produto
    .quantidade-produto
    .adicionar:hover,
.remover:hover {
    cursor: pointer;

    color: var(--cor-clara);

    background-color: var(--cor-principal);
}

.informacoes .grupo-esquerda .produtos .produto .quantidade-produto .remover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.informacoes .grupo-esquerda .produtos .produto .quantidade-produto .adicionar {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.informacoes .grupo-esquerda .produtos .produto .quantidade-produto input {
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 100%;

    text-align: center;

    border: 1px solid #000;

    outline: none;
}

.informacoes .grupo-esquerda .linha {
    align-self: center;

    width: 95%;

    border: 1px solid rgba(0, 0, 0, 0.4);
}

.informacoes .grupo-direita {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;
}

.informacoes .grupo-direita .linha {
    align-self: center;

    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.4);
}

.informacoes .grupo-direita .frete-prazo {
    display: flex;
    flex-direction: column;
}

.informacoes .grupo-direita .frete-prazo .grupo-texto {
    display: flex;
    flex-direction: column;
}

.informacoes .grupo-direita .frete-prazo .grupo-texto .truck-texto {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30px;
}

.informacoes .grupo-direita .frete-prazo .grupo-texto .truck-texto .truck {
    margin-right: 10px;

    height: 24px;
}

.informacoes .grupo-direita .frete-prazo .frete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;

    height: 40px;
    width: 100%;
}

.informacoes .grupo-direita .frete-prazo .frete input {
    padding-left: 10px;

    height: 26px;
    width: 70%;

    outline: none;

    font-size: 14px;
    color: var(--cor-clara);

    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;

    background-color: var(--cor-principal-clara);
}

.informacoes .grupo-direita .frete-prazo .frete input::placeholder {
    color: var(--cor-clara);
}

.informacoes .grupo-direita .frete-prazo .frete button {
    height: 26px;
    width: 90px;

    font-size: 14px;
    color: var(--cor-clara);

    border-radius: 3px;

    transition: 0.5s;

    background-color: var(--cor-principal-clara);
}

.informacoes .grupo-direita .frete-prazo .frete button:hover {
    cursor: pointer;

    background-color: var(--cor-principal);
}

.informacoes .grupo-direita .valores {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
}

.informacoes .grupo-direita .valores .valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5px;

    width: 100%;
}

.informacoes .grupo-direita .cupom-desconto {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 15px;
}

.informacoes .grupo-direita .cupom-desconto .texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.informacoes .grupo-direita .cupom-desconto .form-cupom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 5px;

    width: 100%;
}

.informacoes .grupo-direita .cupom-desconto .form-cupom input {
    padding-left: 10px;

    height: 26px;
    width: 70%;

    outline: none;

    font-size: 14px;
    color: var(--cor-clara);

    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;

    background-color: var(--cor-principal-clara);
}

.informacoes .grupo-direita .cupom-desconto .form-cupom input::placeholder {
    color: var(--cor-clara);
}

.informacoes .grupo-direita .cupom-desconto .form-cupom button {
    height: 26px;
    width: 90px;

    font-size: 14px;
    color: var(--cor-clara);

    border-radius: 3px;

    transition: 0.5s;

    background-color: var(--cor-principal-clara);
}

.informacoes .grupo-direita .cupom-desconto .form-cupom button:hover {
    cursor: pointer;

    background-color: var(--cor-principal);
}

.informacoes .grupo-direita .comprar {
    height: 40px;

    font-size: 18px;
    color: var(--cor-clara);

    border-radius: 3px;

    transition: 0.5s;

    background-color: var(--cor-principal-clara);
}

.informacoes .grupo-direita .comprar:hover {
    cursor: pointer;

    background-color: var(--cor-principal);
}

#semItens {
    align-items: center;
    justify-content: center;

    min-height: 80vh;
    width: 100%;
}

#semItens .texto {
    font-size: 38px;
    font-weight: normal;
}

#semItens img {
    margin-bottom: 20px;

    height: 80px;
}

#dadosEntrega {
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: transparent;
}

#dadosEntrega .entrada-pagamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 250px;
}

#dadosEntrega .entrada-pagamento .seta {
    height: 40px;
}

#dadosEntrega .label-grupo {
    display: flex;

    font-size: 20px;

    background-color: transparent;
}

#dadosEntrega .grupo-total-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    height: 100%;
    width: 90%;
}

#dadosEntrega .grupo-total-compra .total-compra {
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    width: 500px;

    color: var(--cor-clara);

    background-color: var(--cor-principal-clara);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#dadosEntrega .grupo-total-compra .total-compra:hover {
    cursor: pointer;
}

#dadosEntrega .grupo-total-compra .total-compra .valor-icone {
    display: flex;
    flex-direction: row;

    align-items: center;
}

#dadosEntrega .grupo-total-compra .total-compra .valor-icone img {
    margin-left: 10px;

    height: 24px;

    background-color: transparent;
}

#dadosEntrega .grupo-total-compra .total-compra .titulo-grupo,
.valor-icone,
.valor-compra {
    background-color: transparent;
}

#dadosEntrega .grupo-total-compra .itens {
    align-items: center;

    margin-top: 10px;

    padding-bottom: 20px;

    width: 500px;

    background-color: var(--cor-principal-clara);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#dadosEntrega .grupo-total-compra .itens .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 20px;

    width: 450px;
    height: 150px;

    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    background-color: transparent;
}

#dadosEntrega .grupo-total-compra .itens .item .imagem {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;

    min-width: 100px;
    min-height: 100px;

    background-color: var(--cor-clara);
}

#dadosEntrega .grupo-total-compra .itens .item .imagem img {
    height: 70px;
    object-fit: scale-down;

    background-color: transparent;
}

#dadosEntrega .grupo-total-compra .itens .item .nomeValorQuantidade {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 20px;

    height: 100%;

    color: var(--cor-clara);

    background-color: transparent;
}

#dadosEntrega
    .grupo-total-compra
    .itens
    .item
    .nomeValorQuantidade
    .nomeProduto {
    font-size: 20px;

    background-color: transparent;
}

#dadosEntrega
    .grupo-total-compra
    .itens
    .item
    .nomeValorQuantidade
    .valorUnitario {
    font-size: 18px;

    background-color: transparent;
}

#dadosEntrega
    .grupo-total-compra
    .itens
    .item
    .nomeValorQuantidade
    .quantidadeSubtotal {
    background-color: transparent;
}

#dadosEntrega .grupo-total-compra .valores {
    justify-content: space-between;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;

    width: 500px;
    height: 110px;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    background-color: var(--cor-principal-clara);
}

#dadosEntrega .grupo-total-compra .valores .valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    color: var(--cor-clara);

    background-color: transparent;
}

#dadosEntrega .grupo-total-compra .valores .valor p,
div {
    background-color: transparent;
}

#dadosEntrega .grupo-endereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 30px;

    height: 100%;
    width: 90%;
}

#dadosEntrega .grupo-endereco .endereco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    width: 500px;
    height: 110px;

    color: var(--cor-clara);

    background-color: var(--cor-principal-clara);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

#dadosEntrega .grupo-endereco .endereco .grupo-icones {
    position: absolute;

    margin-left: 455px;
    margin-top: -10px;
}

#dadosEntrega .grupo-endereco .endereco .nome-numero,
.bairro-cidade-estado,
.cep,
.grupo-icones {
    background-color: transparent;
}

#dadosEntrega .grupo-endereco .endereco .grupo-icones img {
    height: 24px;

    background-color: transparent;
}

#dadosEntrega .grupo-endereco .endereco .grupo-icones img:hover {
    cursor: pointer;
}

#dadosEntrega .grupo-forma-entrega {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 30px;

    height: 100%;
    width: 90%;
}

#dadosEntrega .grupo-forma-entrega .forma-entrega {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 500px;

    color: var(--cor-clara);

    background-color: var(--cor-principal-clara);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

#dadosEntrega .grupo-forma-entrega .forma-entrega .icone-forma {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dadosEntrega .grupo-forma-entrega .forma-entrega .icone-forma img {
    margin-right: 10px;
}

#dadosEntrega .grupo-forma-entrega .forma-entrega .forma-prazo {
    margin-right: 10px;
}

#dadosEntrega .grupo-forma-entrega .forma-entrega .icone-forma,
.formato,
img,
.forma-prazo {
    background-color: transparent;
}

#finalizar {
    margin-top: 50px;
    margin-bottom: 50px;

    width: 300px;
    height: 60px;

    font-size: 20px;
    color: var(--cor-clara);

    border-radius: 5px;
    border: none;

    outline: none;

    background-color: var(--cor-principal);

    transition: 0.3s;
}

#finalizar:hover {
    cursor: pointer;

    background-color: var(--cor-principal-clara);
}

.mostrar-popup {
    display: flex;
    flex-direction: column;
}

.esconder-popup {
    display: none;
}

#fundoMensagem {
    position: absolute;
    align-items: center;

    top: 0;

    padding-top: 20%;

    width: 100%;
    height: 150vh;

    background-color: rgba(0, 0, 0, 0.3);
}

#fundoMensagem #mensagemPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 120px;
    width: 400px;

    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 20px 30px rgba(0, 0, 0, 0.3),
        0px 10px 50px rgba(0, 0, 0, 0.2);

    background-color: var(--cor-principal-clara);
}

#fundoMensagem #mensagemPopup .mensagem {
    color: var(--cor-clara);

    background-color: transparent;
}

#fundoMensagem #mensagemPopup #botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 90%;

    background-color: transparent;
}

#fundoMensagem #mensagemPopup #botoes button {
    width: 100px;
    height: 30px;

    font-size: 14px;
    color: var(--cor-clara);

    border-radius: 5px;
    outline: none;

    transition: 0.5s;

    background-color: var(--cor-principal);
}

#fundoMensagem #mensagemPopup #botoes button:hover {
    cursor: pointer;

    color: var(--cor-principal);

    background-color: var(--cor-clara);
}

.escurecer {
    background-color: rgba(0, 0, 0, 0.3);
}
