/* external css: flickity.css */
.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 150px;

  object-fit: scale-down;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}