/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

* {
    background-color: var(--cor-fundo);
}

@media screen and (max-width: 768px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        margin-left: 2.5%;
        margin-right: 2.5%;

        /* DIMENSIONAMENTO */
        width: 95%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;

        margin-left: 2.5%;
        margin-right: 2.5%;

        /* DIMENSIONAMENTO */
        width: 95%;
    }

    .container .produtos-favoritados {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: 20px;

        width: 100%;
    }

    .container .produtos-favoritados .cartao {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.mostrar {
    display: flex;
    flex-direction: column;
}

.esconder {
    display: none;
}

.container .titulo {
    font-size: 36px;
    font-weight: normal;

    margin-top: 30px;
}
