/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #eaeaea;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(109, 32, 11, 0.1);
    --cor-principal-rgb40: rgba(109, 32, 11, 0.4);
    --cor-principal-rgb60: rgba(109, 32, 11, 0.6);
    --cor-principal: #6d2077;
    --cor-principal-escura: #a779ab;
}

* {
    background-color: var(--cor-clara);
}

@media screen and (max-width: 768px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* DIMENSIONAMENTO */
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    body {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        /* DIMENSIONAMENTO */
        width: 90%;
    }
}

.container .titulo {
    /* POSICIONAMENTO */
    margin-top: 20px;
    margin-bottom: 15px;
}

.container .selecao {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* DIMENSIONAMENTO */
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;

    /* APARÊNCIA */
    background-color: var(--cor-fundo);
}

.container .selecao .selecionar {
    /* POSICIONAMENTO */
    display: flex;
    align-items: center;

    /* APARÊNCIA */
    background-color: transparent;
}

.container .selecao #excluir {
    /* POSICIONAMENTO */
    margin-right: 10px;

    /* DIMENSIONAMENTO */
    height: 16px;
    width: 16px;
}

.container .selecao .selecionar .texto {
    /* DIMENSIONAMENTO */
    font-size: 14px;

    /* APARÊNCIA */
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

.container .selecao .quantidade {
    /* POSICIONAMENTO */
    display: flex;
    align-items: center;

    /* APARÊNCIA */
    background-color: transparent;
}

.container .selecao .quantidade .texto {
    /* DIMENSIONAMENTO */
    font-size: 14px;

    /* APARÊNCIA */
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
}

.produtos-favoritados {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;

    /* DIMENSIONAMENTO */
    width: 100%;
    height: 100%;
}

.produtos-favoritados .produto {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: row;
    margin-top: 1%;

    /* DIMENSIONAMENTO */
    padding: 1%;
    width: 100%;
    height: 180px;

    /* APARÊNCIA */
    background-color: var(--cor-fundo);
}

.produtos-favoritados .produto img {
    /* DIMENSIONAMENTO */
    width: 200px;
    object-fit: scale-down;
}

.produtos-favoritados .produto .descricao {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* DIMENSIONAMENTO */
    padding-left: 1%;
    height: 100%;

    /* APARÊNCIA */
    background-color: transparent;
}

.produtos-favoritados .produto .descricao .titulo {
    /* DIMENSIONAMENTO */
    font-size: 18px;
    font-weight: bold;

    /* APARÊNCIA */
    background-color: transparent;
}

.produtos-favoritados .produto .descricao .preco {
    /* DIMENSIONAMENTO */
    font-size: 22px;

    /* APARÊNCIA */
    background-color: transparent;
}

.produtos-favoritados .produto .descricao .parcelas {
    margin-top: -15px;
    /* DIMENSIONAMENTO */
    font-size: 14px;

    /* APARÊNCIA */
    background-color: transparent;
}

.produtos-favoritados .produto .descricao .remover {
    /* APARÊNCIA */
    font-size: 16px;
    color: var(--cor-principal);
    text-decoration: none;
    background-color: transparent;
}
