:root {
    --cor-clara: #f9f9fa;
    --cor-caramelo-rgb10: rgba(217, 150, 91, 0.1);
    --cor-caramelo-rgb40: rgba(217, 150, 91, 0.4);
    --cor-caramelo-rgb60: rgba(217, 150, 91, 0.6);
    --cor-caramelo-full: rgba(217, 150, 91, 1);
    --cor-caramelo-escuro: rgba(115, 66, 38, 1);
}

/* CARROSEL */
.carrosel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background-color: var(--cor-caramelo-rgb40);
}

.mySlides {
    display: none;
}
.mySlides img {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

    background-color: transparent;
}

/* Fading animation */
.slide {
    animation-name: slide;
    animation-duration: 2.5s;

    background-color: transparent;
}

@keyframes slide {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}
