:root {
    --cor-clara: #f9f9f9;
    --cor-caramelo: #d9965b;
    --cor-caramelo-escuro: #734226;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

/* FORMULÁRIO DE ENTRADA DE LOGIN */
.fundo-login form {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* APARÊNCIA */
    background-color: var(--cor-caramelo);
    height: 420px;
    width: 450px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* LOGO DO PROJETO */
.fundo-login .logo {
    /* APARÊNCIA */
    height: 65px;
    margin-bottom: 20px;

    background-color: transparent;
}

/* GRUPO DE ENTRADA DE DADOS DO FORMULÁRIO */
.fundo-login .grupo-input {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;

    /* APARÊNCIA */
    background-color: transparent;
}

/* ENTRADA DE TEXTO DO FORMULÁRIO */
.fundo-login .entrada-texto {
    /* POSICIONAMENTO */
    padding-left: 10px;

    /* APARÊNCIA DO TEXTO */
    font-size: 18px;

    /* CAIXA DA ENTRADA DO TEXTO */
    width: 300px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;

    /* SOMBRA DA ENTRADA DE TEXTO */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* PERSONALIZAÇÃO DA ENTRADA DE TEXTO */
.fundo-login .entrada-texto:focus {
    /* RETIRA BORDA PRETA AO SELECIONAR O INPUT */
    outline: none;
}

/* ENTRADA DE TEXTO PARA SENHA */
#senha {
    /* ESPAÇAMENTO PARA COMPONENTES */
    margin-top: 20px;
}

/* ESQUECEU SUA SENHA */
.fundo-login .esqueceu {
    /* POSICIONAMENTO */
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 12px;

    /* APARÊNCIA */
    background-color: transparent;

    /* ANIMAÇÃO DE TRANSIÇÃO SUAVE */
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

    /* SOMBREAMENTO */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* SIMULAÇÃO DE BOTÃO PARA O ESQUECEU SUA SENHA */
.fundo-login .esqueceu:hover {
    cursor: pointer;

    /* APARÊNCIA */
    color: var(--cor-clara);
}

/* FORMATO DE BOTÃO */
.fundo-login .botao {
    /* POSICIONAMENTO */
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    /* APARÊNCIA */
    font-size: 20px;
    text-decoration: none;
    width: 220px;
    height: 45px;

    /* PERSONALIZAÇÃO DE BORDA */
    box-sizing: border-box;
    border-radius: 5px;
    border: none;

    /* SOMBREAMENTO */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* SIMULAÇÃO DE BOTÃO GENÉRICO */
.fundo-login .botao:hover {
    cursor: pointer;
}

/* BOTÃO DE ENTRAR/LOGAR */
.fundo-login #entrar {
    /* POSICIONAMENTO */
    margin-top: 12px;
    margin-bottom: 10px;

    /* APARÊNCIA */
    background-color: var(--cor-caramelo-escuro);
    color: var(--cor-clara);

    /* ANIMAÇÃO DE TRANSIÇÃO SUAVE*/
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

/* SIMULAÇÃO DE BOTÃO DE ENTRAR/LOGAR */
.fundo-login #entrar:hover {
    /* APARÊNCIA */
    background-color: var(--cor-caramelo);
    color: var(--cor-clara);
}

/* BOTÃO DE CRIAR UMA CONTA */
.fundo-login #criar {
    /* APARÊNCIA */
    color: black;

    /* ANIMAÇÃO DE TRANSIÇÃO SUAVE */
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

/* SIMULAÇÃO DE BOTÃO */
.fundo-login #criar:hover {
    /* APARÊNCIA */
    background-color: var(--cor-caramelo);
    color: white;
}

/* CRÉDITOS DA EQUIPE */
.container .equipe {
    /* POSICIONAMENTO */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

    /* APARÊNCIA DO TEXTO DO BOTÃO */
    font-size: 18px;

    /* SOMBREAMENTO */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
