@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

:root {
    --cor-fundo-claro: #eaeaea;
    --cor-clara: #fff;
    --cor-caramelo-rgb10: rgba(217, 150, 91, 0.1);
    --cor-caramelo-rgb40: rgba(217, 150, 91, 0.4);
    --cor-caramelo-rgb60: rgba(217, 150, 91, 0.6);
    --cor-caramelo-full: rgba(217, 150, 91, 1);
    --cor-caramelo-escuro: rgba(115, 66, 38, 1);
}

* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;

    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;

    width: 96%;

    background-color: var(--cor-fundo-claro);
}

.caminho {
    margin-bottom: 10px;

    font-family: "Press Start 2P", cursive;
    font-size: 12px;
}

.produto {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: center;
}

.produto .imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70%;

    background-color: transparent;
}

.produto .imagens .imagem-full {
    margin-bottom: 5%;

    height: 100%;
}

.produto .imagens .miniaturas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    background-color: transparent;
}

.produto .imagens .miniaturas img {
    width: 60px;
}

.produto .informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10%;

    padding: 2%;

    width: 70%;
    height: 550px;

    border-radius: 5px;

    background-color: var(--cor-caramelo-rgb40);
}

.produto .informacoes .titulo-avaliacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    background-color: transparent;
}

.produto .informacoes .titulo-avaliacoes .titulo-favoritos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    background-color: transparent;
}

.produto .informacoes .titulo-avaliacoes .titulo-favoritos img {
    height: 36px;

    background-color: transparent;
}

.produto .informacoes .titulo-avaliacoes .titulo-favoritos .titulo {
    font-family: "Press Start 2P", cursive;
    font-size: 14px;

    width: 90%;

    background-color: transparent;
}

.produto .informacoes .titulo-avaliacoes .avaliacoes {
    margin-top: 1%;

    background-color: transparent;
}

.produto .informacoes .avaliacoes img {
    height: 20px;
    background-color: transparent;
}

.produto .informacoes .preco {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.produto .informacoes .preco .antes {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: line-through;

    background-color: transparent;
}

.produto .informacoes .preco .atual {
    margin-top: 1%;

    font-family: "Press Start 2P", cursive;
    font-size: 20px;

    background-color: transparent;
}

.produto .informacoes .preco .parcelas {
    margin-top: 1%;

    font-size: 20px;

    background-color: transparent;
}

.produto .informacoes .localizacao {
    display: flex;
    flex-direction: column;

    background-color: transparent;
}

.produto .informacoes .fonte {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
}

.produto .informacoes .fonte img {
    height: 24px;

    margin-bottom: 2%;

    background-color: transparent;
}

.produto .informacoes .fonte p {
    margin-left: 5px;

    font-size: 16px;
    font-weight: bold;

    background-color: transparent;
}

.produto .informacoes .destinatario {
    display: flex;
    flex-direction: column;

    background-color: transparent;
}

.produto .informacoes .destinatario label {
    margin-bottom: 1%;

    font-weight: bold;
    font-size: 14px;

    background-color: transparent;
}

.produto .informacoes .destinatario .entrada {
    display: flex;
    flex-direction: row;

    background-color: transparent;
}

.produto .informacoes .destinatario .entrada input {
    margin-right: 10px;

    padding-left: 10px;

    width: 200px;
    height: 40px;

    font-size: 16px;

    border: none;
    border-radius: 2px;
    outline: none;
}

.produto .informacoes .destinatario .entrada button {
    font-weight: bold;

    width: 50px;

    border: none;
    border-radius: 5px;

    background-color: var(--cor-caramelo-full);
}

.produto .informacoes .descricao {
    display: flex;
    flex-direction: column;

    background-color: transparent;
}

.produto .informacoes .descricao .descricao-titulo {
    font-size: 20px;
    font-weight: bold;

    background-color: transparent;
}

.produto .informacoes .descricao .texto {
    width: 80%;

    background-color: transparent;
}

.produto .informacoes .botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 50px;

    background-color: transparent;
}

.produto .informacoes .botoes button {
    border: none;
    border-radius: 5px;
}

.produto .informacoes .botoes .comprar {
    width: 70%;

    font-size: 20px;
    color: var(--cor-clara);

    background-color: var(--cor-caramelo-escuro);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.produto .informacoes .botoes .carrinho {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18%;

    background-color: var(--cor-caramelo-full);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.produto .informacoes .botoes .carrinho img {
    height: 30px;

    background-color: transparent;
}
