/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #f1e9f3;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(119, 37, 131, 0.1);
    --cor-principal-rgb40: rgba(119, 37, 131, 0.4);
    --cor-principal-rgb60: rgba(119, 37, 131, 0.6);
    --cor-principal: #772583;
    --cor-principal-clara: #ad7cb5;
}

@media screen and (min-width: 750px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 100vw;
        height: 100vh;
    }

    .fundo-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 40%;
        min-height: 90%;
    }

    .fundo-logo .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fundo-logo .conteudo .logo-icone {
        margin-bottom: 30px;

        object-fit: scale-down;
        height: 100px;
    }

    .fundo-logo .conteudo .bem-vindo {
        margin-bottom: 30px;
    }

    .fundo-logo .conteudo .textinho {
        margin-bottom: 30px;

        width: 80%;
    }

    .cadastro {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 50%;
        min-height: 90%;
    }

    .cadastro .entrada-dados {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 10px;

        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .cadastro .entrada-dados label {
        /* POSICIONAMENTO */
        margin-bottom: 5px;

        /* DIMENSIONAMENTO */
        width: fit-content;
    }

    .cadastro .entrada-dados input {
        /* POSICIONAMENTO */
        padding-left: 10px;
        padding-right: 10px;

        /* DIMENSIONAMENTO */
        height: 40px;
        width: 100%;
    }

    .cadastro .tipo-conta {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* DIMENSIONADO */
        width: 90%;
    }

    .cadastro .tipo-conta select {
        /* DIMENSIONAMENTO */
        width: 100%;
        height: 35px;
        font-size: 14px;
    }

    .cadastro .grupo-email,
    .grupo-senha {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .grupo-email,
    .grupo-senha .entrada-dados label {
        /* DIMENSIONAMENTO */
        width: fit-content;
    }

    .grupo-email,
    .grupo-senha .entrada-dados input {
        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .entrada-dados #email,
    #senha {
        /* DIMENSIONAMENTO */
        width: 95%;
    }

    .termos {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        margin-top: 10px;
        margin-bottom: 10px;

        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .termos input {
        /* POSICIONAMENTO */
        margin-right: 10px;
    }
}

@media screen and (max-width: 750px) {
    .container {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 20px;
        margin-bottom: 20px;

        width: 100%;
        height: 100%;
    }

    .fundo-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 50px;
        padding-bottom: 50px;

        width: 90%;
        height: fit-content;
    }

    .fundo-logo .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fundo-logo .conteudo .logo-icone {
        margin-bottom: 10px;

        object-fit: scale-down;
        height: 100px;
    }

    .fundo-logo .conteudo .bem-vindo {
        margin-bottom: 10px;
    }

    .fundo-logo .conteudo .textinho {
        margin-bottom: 10px;

        width: 80%;
    }

    .cadastro {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 20px;
        padding-bottom: 20px;

        /* DIMENSIONAMENTO */
        width: 90%;
        height: fit-content;
    }

    .cadastro .entrada-dados {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 10px;

        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .cadastro .entrada-dados label {
        /* POSICIONAMENTO */
        margin-bottom: 5px;

        /* DIMENSIONAMENTO */
        width: fit-content;
    }

    .cadastro .entrada-dados input {
        /* POSICIONAMENTO */
        padding-left: 10px;
        padding-right: 10px;

        /* DIMENSIONAMENTO */
        height: 30px;
        width: 100%;
    }

    .cadastro .tipo-conta {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* DIMENSIONADO */
        width: 90%;
    }

    .cadastro .tipo-conta select {
        /* DIMENSIONAMENTO */
        width: 100%;
        height: 30px;
        font-size: 14px;
    }

    .cadastro .grupo-email,
    .grupo-senha {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .grupo-email,
    .grupo-senha .entrada-dados label {
        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .grupo-email,
    .grupo-senha .entrada-dados input {
        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .entrada-dados #login,
    #senha {
        /* DIMENSIONAMENTO */
        width: 100%;
    }

    .termos {
        /* POSICIONAMENTO */
        display: flex;
        flex-direction: row;

        margin-top: 10px;
        margin-bottom: 20px;

        /* DIMENSIONAMENTO */
        width: 90%;
    }

    .termos input {
        /* POSICIONAMENTO */
        display: flex;
        align-self: flex-start;

        margin-top: 5px;
        margin-right: 10px;
    }
}

.fundo-logo {
    background-color: var(--cor-principal);
}

.fundo-logo .conteudo {
    background-color: transparent;
}

.fundo-logo .conteudo .bem-vindo {
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-clara);

    background-color: transparent;
}

.fundo-logo .conteudo .textinho {
    font-size: 18px;
    text-align: center;
    color: var(--cor-clara);

    background-color: transparent;
}

.fundo-logo .conteudo .logo-icone {
    background-color: transparent;
}

.fundo-logo .conteudo .entrar {
    width: 120px;
    height: 40px;

    font-size: 18px;
    color: var(--cor-clara);

    outline: none;

    border-color: #000;

    background: var(--cor-principal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.cadastro {
    /* APARÊNCIA */
    background-color: white;
}

.cadastro .titulo-cadastro {
    font-weight: normal;
    /* APARÊNCIA */
    background-color: transparent;
}

.cadastro input {
    /* APARÊNCIA */
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    outline: none;

    /* SOMBRA DA ENTRADA DE TEXTO */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cadastro .entrada-dados {
    background-color: transparent;
}

.cadastro .entrada-dados label {
    background-color: transparent;
}

.cadastro .entrada-dados input,
select {
    color: var(--cor-clara);

    background-color: var(--cor-principal-clara);
}

.cadastro .entrada-dados input::placeholder {
    color: var(--cor-clara);
}

.cadastro .grupo-email,
.grupo-senha {
    background-color: transparent;
}

.cadastro .termos {
    /* APARÊNCIA */
    background-color: transparent;
}

.cadastro .termos label {
    /* APARÊNCIA */
    font-size: 14px;
    color: #000;

    background-color: transparent;
}

.cadastro .termos label a {
    /* APARÊNCIA */
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-align: justify;

    background-color: transparent;
}

.cadastro .termos label a:hover {
    /* APARÊNCIA */
    color: var(--cor-principal);
}

#cadastrar {
    margin-top: 10px;
}

#cadastrar {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--cor-principal);
    border-radius: 0.6em;
    color: var(--cor-principal);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;

    padding: 18px 18px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
#cadastrar:hover,
#cadastrar:focus {
    color: #fff;
    outline: 0;
}

.efeito {
    border-color: var(--cor-principal);
    border-radius: 0;
    color: var(--cor-principal);
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.efeito:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: var(--cor-principal);
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}

.efeito:hover {
    color: #fff;
}

.efeito:hover:after {
    width: 110%;
}
