@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* VARIÁVEIS PARA CORES DO PROJETO */
:root {
    --cor-fundo: #eaeaea;
    --cor-clara: #f9f9f9;
    --cor-principal-rgb10: rgba(109, 32, 11, 0.1);
    --cor-principal-rgb40: rgba(109, 32, 11, 0.4);
    --cor-principal-rgb60: rgba(109, 32, 11, 0.6);
    --cor-principal: #6d2077;
    --cor-principal-escura: #a779ab;
}

* {
    /* POSICIONAMENTO */
    margin: 0;
    
    /* DIMENSIONAMENTO */
    box-sizing: border-box;
    
    /* APARÊNCIA */
    background-color: var(--cor-fundo);
    font-family: "Roboto", sans-serif;
}
