@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

:root {
    --cor-clara: #f9f9fa;
    --cor-caramelo: #d9965b;
}

* {
    background-color: var(--cor-clara);
    font-family: "Roboto", sans-serif;
    margin: 0;
}
