@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

:root {
    --cor-fundo-claro: #eaeaea;
    --cor-clara: #f9f9f9;
    --cor-caramelo-rgb10: rgba(217, 150, 91, 0.1);
    --cor-caramelo-rgb40: rgba(217, 150, 91, 0.4);
    --cor-caramelo-rgb60: rgba(217, 150, 91, 0.6);
    --cor-caramelo-full: rgba(217, 150, 91, 1);
    --cor-caramelo-escuro: rgba(115, 66, 38, 1);
}

* {
    margin: 0;
    box-sizing: border-box;
    
    background-color: var(--cor-fundo-claro);
    font-family: "Roboto", sans-serif;
}
