#container-usuario {
    color: white;
    width: 300px;
    height: 1068px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.navegacao-usuario{
    background-color: rgba(255, 119, 0, 0.486);
    flex-direction: row;
    padding: 30px;
    width: 300px;
    font-size: 19px;
}

.navegacao-usuario-itens{
    background-color: rgba(255, 119, 0, 0.486);
    flex-direction: row;
    padding: 30px;
    width: 300px;
    height: 1068px;
}

.navegacao-item{
    background-color: transparent;
    padding: 17px;
    font-size: 16px;
}
















/* .navegacao-usuario-sub{
    display: flex;
    align-self: flex-start;
    padding-right: 1vw;
    background-color: transparent;
} */